{% load static %}
<html>

<title>lolalarm</title>

<link rel="stylesheet" href="{% static 'search/info.css' %}">
<body>
    <div class="tier">
        <table class="profile_info">
            <tr>
                <td id='icon_img'><img src={{ profile_icon }} width="100" height="100"></td>
                <td id='profile_content'>소환사 - {{ summoner_name }}<br>레벨 - {{ summoner_level }}</td>
                <td id='solo_rank_img'><img src='icon.png' width="100" height="100"></td>
                <td id='profile_content'>솔로랭크<br>{{ solo_rank_tier }}</td>
                <td id='flex_rank_img'><img src='icon.png' width="100" height="100"></td>
                <td id='profile_content'>자유랭크<br>{{ flex_rank_tier }}</td>
            </tr>
        </table>
    </div>
</body>
